<!-- events-index -->
<div class="row mt-4" >
  <div class="col-lg-6 offset-lg-3">
    <h1>Reviews</h1>
    <a href="/events/new">New Event</a>
    <h1>Events</h1>
    {{#each events}}
      <div class="card">
        <img class="img-fluid" src="{{this.imgUrl}}" alt="Card image cap">
        <h2>{{this.title}}</h2>
        <p>{{this.desc}}</p>
        <p>Takes place on: {{this.eventDate}}</p>
        <div>
          <button type="button" class="btn btn-info">RSVP</button>
          <a href="/events/{{this.id}}"  class="btn btn-primary">View</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>
